@(monthlyExpenses: List[(String, List[models.MonthlyExpense])]
, monthlyTotals: List[Int]
, f: (List[models.MonthlyExpense], Int) => String
, curr: (Int) => String)

<head>
  <title>Spending</title>
  <style type="text/css">
    table {
      border-collapse: collapse;
    }
    td {
      border: 1px solid black;
      padding: 3px 20px 3px 20px
    }
    td.expense {
      border: 1px solid black;
      text-align: right
    }
    #expenses th {
      font-size: 1.1em;
      border: 1px solid black;
      padding: 6px 20px 6px 20px;
      background-color: #ccc;
      color: #000;
    }
    #expenses tr.alt td {
      color: #000;
      background-color: #f0f0f0;
    }
  </style>
</head>

<table id="expenses">
  <tr>
    <th>Account</th>
    <th>Jan</th>
    <th>Feb</th>
    <th>Mar</th>
    <th>Apr</th>
    <th>May</th>
    <th>Jun</th>
    <th>Jul</th>
    <th>Aug</th>
    <th>Sep</th>
    <th>Oct</th>
    <th>Nov</th>
    <th>Dec</th>
    <th>Total</th>
  </tr>
  @monthlyExpenses.zipWithIndex.map {case ((name, expenses), i) => 
    <tr @if(i % 2 == 1) {class="alt"} else {""}>
      <td>@name</td>
      @List.range(1,13).map {i => <td class="expense">@f(expenses, i)</td>}
      <td class="expense">@curr(expenses.map(_.amount).sum)</td>
    </tr>
  }
  <tr @if(monthlyExpenses.size % 2 == 1) {class="alt"} else {""}>
    <td><b>Total</b></td>
    @monthlyTotals.map {t => <td class="expense">@curr(t)</td>}
    @List.range(1, 13 - monthlyTotals.size).map {i => <td/>}
    <td class="expense">@curr(monthlyTotals.sum)</td>
  </tr>
</table>
